<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User {{user.alias}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'qoutes/css/styles.css' %}">
</head>
<body>
    <div id='wrapper'>
        <div id='header'>
            <a href="/dashboard" id='headerRightPush'>Dashboard</a><a href="/logout">Logout</a>
        </div>
        <p>Posted by {{user.alias}}</p>
        <p>Count: {{qouteCount}}</p>
        <br>
        <br>
        {% if usersQoutes %}
            {% for qoute in usersQoutes%}
                <p><span class='qouteName'>{{qoute.qoute_by}}:</span> {{qoute.message}}</p>
                <br>
            {% endfor %}
        {% else %}
            <h3>User does not have any Qoutes yet.</h3>
        {% endif%}
    </div>
</body>
</html>